.swiper {
    padding: 0 70px !important;
    box-sizing: border-box !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
}

@media screen and (max-width: 576px) {
    .swiper {
        padding: 0 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}
