.merchSlide {
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
    padding: 15px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background-color: #fff;
    max-height: 250px;
    height: 100vh;
    transition: transform 0.3s linear;
    color: #000 !important;
}

.merchSlide:hover {
    transform: scale(0.85);
}

.merchSlide img {
    max-height: 235px;
    height: 100vh;
}

.merchTextContent {
    margin: 40px auto 40px auto;
    max-width: 500px;
    width: 100%;
}

.merchText {
    text-align: center;
}

.merchLink {
    padding-bottom: 10px;
    display: block;
    max-width: 415px;
    width: 100%;
    margin: 40px auto 0 auto;
    font-size: 40px;
    border-bottom: 1px solid #cae65b;
    line-height: 48px;
    color: #D2D092;
    text-align: center;
    transition: opacity .2s linear;
}

.merchLink:hover {
    opacity: 0.7;
}

.merchSlideDescr {
    margin-top: 5px;
    text-align: center;
}

.merchSlide img {
    max-width: 121px;
    width: 100%;
    object-fit: cover;
    max-height: 141px;
    height: 100vh;
}

@media screen and (max-width: 576px) {
    .merchLink {
        margin: 0;
        font-size: 20px;
    }

    .merchSlideDescr {
        font-size: 13px;
    }
}